<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <connectionStrings>
        <add connectionString="Server=.\SQLEXPRESS;Database=Brett;Uid=sa;Pwd=123" name="Brett" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>