html, body 
{
	margin            : 0;
	padding           : 0;
	height            : 100%;
	width             : 100%;
}

ul.moveListContainer 
{
	color: red;	
}		

div.moveListContainer
{
	z-index: 1;
}

button.modal 
{
	margin: 0 auto;
	width: 180px;
}
			
.moveList
{
	margin            : auto;
	display           : inline-block;
	border            : 2px solid;
	margin            : 5px;
}
			
.box
{
	padding           : 0px;
	margin            : 0px;
	border            : 2px solid;
	float             : left;
	margin            : 5px;
	height            : auto;
	width             : auto;
}
			
.Start
{
	color: green;
}
			
.end
{
	color: red;
}
			
.moves
{
	color: blue;
}
			
.movers
{
	background-color: black;
	color: yellow;
}
			
#drape 
{
	margin                         : 0        ;
	padding                        : 0        ;
	top                            : 0        ;
	left                           : 0        ;
	position                       : fixed    ;
	z-index                        : 1        ;
	height                         : 100%     ;
	width                          : 100%     ;
	opacity                        : 0.5      ;
	display                        : none     ;
	background-color               : black    ;
	overflow                       : hidden   ;
}
			
#listModal 
{
	position: fixed;
	z-index: 2;
	display: none;
	background-color: white;
	border: 2px solid black;
	height: auto;
	width: auto;
	left: 50%;
	top: 50%;
}

#moveModal {
		background-color: white;
		border: 1px Soild Black;
		display: none;
		position: fixed;
		z-index: 2;
		height: auto;
		width: auto;
		left: 50%;
		top:  50%;
}

.moveListContainer
			{
				margin            : auto;
				display           : inline-block;
				border            : 2px solid;
				margin            : 5px;
			}
.moveBox
{
	padding           : 0px;
	margin            : 0px;
	border            : 2px solid;
	float             : left;
	margin            : 5px;
	height            : auto;
	width             : auto;
}
.moveContainer {
					margin            : auto;
				display           : inline-block;
				border            : 2px solid;
				margin            : 5px;
}

.finished {
	background-color: red;
}